<template>
  <div class="content-wrapper">
    <app-banner />
    <div class="container mt-60">
      <div class="grid-row">
        <template v-for="(post, postIndex) in all_posts">
          <post-card
            v-if="postIndex <= show_post_index_limit"
            :key="'post-item-' + postIndex"
            :post-id="post?.id"
            :title="post?.title?.rendered"
            :description="post?.excerpt?.rendered"
            :last-updated-time="post?.modified"
            :thumbnail-img="post?._embedded?.['wp:featuredmedia']?.[0]?.source_url"
            :tags="post?.tags"
          ></post-card>
        </template>
      </div>
      <div v-if="showLoadMoreButton" class="my-15 pt-20 text-center">
        <load-more-button></load-more-button>
      </div>
    </div>
  </div>
</template>

<script>
import CommonMixins from "../mixins/CommonMixins";
import AppBanner from "../components/Home/Banner.vue";
import PostCard from "@/components/Home/PostCard.vue";
import LoadMoreButton from '@/components/Home/LoadMoreButton.vue';
export default {
  name: "HomePage",
  components: {
    AppBanner,
    PostCard,
    LoadMoreButton,
  },
  mixins: [CommonMixins],
  mounted() {
    this.getAllTags();
    this.getAllPosts();
  },
};
</script>

<style>
.content-wrapper {
    padding-bottom: 50px;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.mt-60 {
  margin-top: 60px;
}
.grid-row {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 50px;
}
@media (max-width: 991px) {
  .grid-row {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 768px) {
  .grid-row {
    grid-template-columns: auto;
  }
}
.my-15 {
  margin: 15px 0;
}
.pt-20 {
  padding-top: 20px;
}
.text-center {
  text-align: center;
}
@media (max-width: 767px) {
  .container {
    width: 95%;
  }
}
</style>
