<template>
    <div>
        <app-banner></app-banner>
        <div class="post-details">
            <template v-if="post_details?.id">
                <h2 class="post-details-title" v-html="post_details?.title?.rendered"></h2>
                <p class="post-details-description" v-html="post_details?.content?.rendered"></p>
            </template>
            <template v-else>
                <p>No Posts Available</p>
            </template>
            <div class="text-center">
                <button class="back-btn" @click="$router.push({path: '/'})">Back</button>
            </div>
        </div>
    </div>
</template>


<script>
import CommonMixins from '@/mixins/CommonMixins';
import AppBanner from '@/components/Home/Banner.vue';
export default {
    name: 'PostDetails',
    components: {
        AppBanner
    },
    mixins: [CommonMixins],
    mounted() {
        if(this.$route.params.id) {
            this.getPostDetails(this.$route.params.id);
        }
    },
    beforeDestroy() {
        this.post_details = {};
    }
}
</script>

<style scoped>
.post-details {
    width: 75%;
    margin: 0 auto;
    padding-top: 50px;
}
.post-details-title {
    font-family: 'SofiaPro-Bold';
    font-size: 20px;
    color: #004172;
    margin-bottom: 15px;
    margin: 0;
    margin-bottom: 15px;
}
.post-details-description {
    font-family: 'SofiaPro-Regular';
    font-size: 16px;
    color: #004172;
    margin: 0;
    margin-bottom: 15px;
}
.back-btn {
    border-radius: 20px;
    border: 2px solid #FF4F02;
    color:#FF4F02;
    padding: 11px;
    background: #FFFFFF;
    text-align: center;
    font-size: 14px;
    font-family: 'SofiaPro-Regular';
    font-weight: 400;
    cursor: pointer;
    min-width: 100px;
}
@media (max-width: 767px) {
  .post-details {
    width: 90%;
  }
}
</style>