<template>
    <div class="app-banner">
        <h2 class="banner-title">Insights & Resources</h2>
        <p class="banner-info">Introductory copy that goes underneath the H1 to better contextualise what this does and who it’s for.</p>
    </div>
</template>

<script>
export default {
    name: 'AppBanner'
}
</script>

<style scoped>
.app-banner {
    /* UI Properties */
    background: transparent linear-gradient(119deg, #004172 0%, #00C4CB 100%) 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    padding: 80px 50px;
}
.banner-title {
    font-size: 50px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 30px;
    font-family: 'SofiaPro-Bold';
}
.banner-info {
    font-size: 20px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 30px;
    font-family: 'SofiaPro-Regular';
}
</style>