<template>
    <button class="load-more-btn" @click="loadMorePosts">Load More</button>
</template>

<script>
import CommonMixins from '@/mixins/CommonMixins'
export default {
    name: "LoadMore",
    mixins: [CommonMixins],
}
</script>

<style>
.load-more-btn {
    border-radius: 20px;
    border: 2px solid #FF4F02;
    background:#FF4F02;
    padding: 11px 30px;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-family: 'SofiaPro-Regular';
    font-weight: 500;
    cursor: pointer;
}
</style>