<template>
    <div class="post-card" @click="$router.push({path: '/posts/' + postId })">
        <div class="thumbnail-img">
            <img :src="thumbnailImg ? thumbnailImg : 'https://placehold.co/600x400?text=No+Image'" class="w-100 feature-image" alt="" @error="handleNoImageError">
            <span class="thumbnail-tag">Blog Post</span>
        </div>
        <div class="additional-info">
            <span class="additiona-last-update">{{ lastUpdatedTime | dateFilter }}</span>
            <span class="additiona-read-time">5 minute read</span>
        </div>
        <h2 class="post-title" v-html="title"></h2>
        <p class="post-description" v-html="removeSpecialCharacters(description)"></p>
        <div class="tags-container" v-if="tags.length">
            <span class="tag" v-for="(tag, tagIndex) in tags" :key="tagIndex">{{ getTagName(tag) }}</span>
        </div>
    </div>
</template>

<script>
import CommonMixins from '@/mixins/CommonMixins';
export default {
    name: 'PostCard',
    mixins: [CommonMixins],
    props: {
        postId: {
            type: Number,
            required: true
        },
        title: {
            type: String,
            required: true,
        },
        description: {
            type: String,
            required: true
        },
        tags: {
            type: Array,
            default: () => []
        },
        lastUpdatedTime: {
            type: String,
            required: true,
        },
        thumbnailImg: {
            default: ''
        }
    },
    methods: {
        handleNoImageError(event) {
            event.preventDefault();
            event.target.src = 'https://placehold.co/600x400?text=No+Image';
        }
    }
}
</script>

<style>
.post-card {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.thumbnail-img {
    position: relative;
}
.thumbnail-tag {
    position: absolute;
    text-align: center;
    padding: 6px 15px;
    font-family: 'SofiaPro-Regular';
    color: #FFFFFF;
    font-size: 14px;
    background: #FE550B;
    border-radius: 5px;
    top: 18px;
    left: 24px;
}
.w-100 {
    width: 100%;
}
.feature-image {
    display: block;
    box-shadow: 0px 12px 24px #E5E5E580;
    border-radius: 5px;
}
.post-title {
    font-family: 'SofiaPro-Bold';
    font-size: 20px;
    color: #004172;
    margin-bottom: 15px;
    margin: 0;
    margin-bottom: 15px;
}
.post-title:hover {
    cursor: pointer;
}
.post-title > * {
    margin: 0;
}
.post-description {
    font-family: 'SofiaPro-Regular';
    font-size: 16px;
    color: #004172;
    margin: 0;
    margin-bottom: 15px;
}
.post-description > * {
    margin: 0;
}
.additional-info {
    color: #00C4CB;
    margin: 15px 0;
    font-size: 16px;
    font-family: 'SofiaPro-Regular';
    font-weight: 500;
}
.additional-info .additiona-last-update {
    padding-right: 6px;
    border-right: 2px solid #00C4CB;
}
.additional-info .additiona-read-time {
    padding-left: 6px;
}
.tag {
    border-radius: 20px;
    margin: 0 6px 6px 0;
    border: 1px solid #FF4F02;
    color: #FF4F02;
    padding: 6px;
    font-size: 16px;
    font-family: 'SofiaPro-Regular';
}
</style>