<template>
  <router-view></router-view>
</template>

<script>
import CommonMixins from './mixins/CommonMixins';
export default {
  name: 'App',
  mixins: [CommonMixins],
  beforeMount() {
    this.api_base_url = `${process.env.VUE_APP_API_URL}`;
  }
}
</script>

<style>
@font-face {
    font-family: 'SofiaPro-Bold';
    src: url(./assets/fonts/sofia-pro-bold.ttf);
}
@font-face {
    font-family: 'SofiaPro-Regular';
    src: url(./assets/fonts/sofia-pro.ttf);
}
</style>
